.heading{
    font-size: 23px;
    width: 100%;
    margin: 0px;
}
.note{
    font-size: 15px;
    color: blanchedalmond;
}
body{
    background-size: cover;
}
canvas{
    border: 5px solid burlywood;
    border-radius: 20px;
} 